html,
body{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background:#EFE9F4; 
}

:root{
    --text: #373e48;
    --em1: #64113F;
    --em2: #08B2E3;
    --em3: #EE6352;
    --low: #EFE9F4;
}

.content{
    margin: 10% auto;
    width: 400px;
    max-width: 100vw;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #373e48;
}

.iam{
    font-family: Caveat;
}

.name{
    font-size: 1.4em;
    font-weight: 500;
}

.desc{
    font-size: .8em;
    line-height: 1.2em;
    margin-top: 5px;
}

.desc b{
    color: #64113F;
}

.desc b:last-of-type{
    color: #08B2E3;
}

.tabs{
    display: flex;
    font-size: .8em;
    margin-top: 45px;
}

.tabs span{
    margin-right: 15px;
    cursor: pointer;
}

@font-face {
    font-family: Caveat;
    src: url(font/Caveat-Regular.ttf);
  }